<div class="container col-md-6 col-md-offset-6">
  <br>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <br>
  <h3 class="text-center text-success">Car Rental Login</h3>
  <br>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="codiceFiscale">Codice Fiscale</label>
      <input id="codiceFiscale" type="text" formControlName="codiceFiscale" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.codiceFiscale.errors }"/>
      <div *ngIf="submitted && f.codiceFiscale.errors" class="invalid-feedback">
        <div *ngIf="f.codiceFiscale.errors.required">Il codice fiscale non può essere vuoto</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">La password è obbligatoria</div>
      </div>
    </div>
    <div class="form-group">
      <app-custom-button [buttonProperties]="loginButtonProperties"></app-custom-button>&nbsp;
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 text-success"></span>
    </div>
  </form>
<!--  <app-custom-button [buttonProperties]="registerButtonProperties"></app-custom-button>-->
  <button class="btn btn-secondary" (click)="openModalRegister()">Registrati</button>
</div>
