<nav id="nav" class="navbar navbar-expand-sm navbar-light bg-light" *ngIf="currentUser">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Car Rental Service</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link register-custom" routerLink="/tabella" [routerLinkActive]="['active']">Tabella</a>-->
<!--      </li>-->
      <ul *ngIf="currentUser.superuser" class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link register-custom" routerLink="/homePage" [routerLinkActive]="['active']">Home Page</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/parcoAuto" [routerLinkActive]="['active']">Parco Auto</a></li>
<!--        <li class="nav-item"><a class="nav-link" routerLink="/codiciSconto" [routerLinkActive]="['active']">Codici Sconto</a></li>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profilo Utente
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/creaModificaUtente" [queryParams]="{codiceFiscale: currentUser.codiceFiscale}" [routerLinkActive]="['active']">Profilo Utente</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
      <ul *ngIf="!currentUser.superuser" class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/homePage" [routerLinkActive]="['active']">Home Page</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/parcoAuto" [routerLinkActive]="['active']">Parco Auto</a></li>
<!--        <li class="nav-item"><a class="nav-link" routerLink="/multeUtente?codiceFiscaleUtenteConMulte={{currentUser.codiceFiscale}}" [routerLinkActive]="['active']">Multe</a></li>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profilo Utente
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/creaModificaUtente" [queryParams]="{codiceFiscale: currentUser.codiceFiscale}" [routerLinkActive]="['active']">Profilo Utente</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" (click)="logout()">Logout</a>-->
<!--      </li>-->
<!--    </ul>-->
  </div>
</nav>
