<br>
<h4 class="text-center text-primary">Parco auto</h4>
<br>
<app-custom-button [buttonProperties]="creaVeicoloPulsanteProprieta"></app-custom-button><br><br>
<app-custom-table *ngIf="listaVeicoli"
                  [listaElementi]="listaVeicoli"
                  [listaHeader]="listaHeaderVeicoli"
                  [listaBottoni]="listaPulsanti"
                  [listaHeaderBottoni]="listaHeaderPulsanti"
                  campoIdElemento="codiceMezzo"
                  (buttonClickedData)="onRichiestaRest($event)">
</app-custom-table>

