<span *ngIf="currentUser.verificato">
  <br>
  <h4 class="text-center text-primary">Parco auto</h4>
  <br>
  <span *ngIf="currentUser.superuser===true">
    <app-custom-button [buttonProperties]="creaVeicoloPulsanteProprieta"></app-custom-button><br><br>
    <app-custom-table *ngIf="listaVeicoli"
                      [listaElementi]="listaVeicoli"
                      [listaHeader]="listaHeaderVeicoli"
                      [listaBottoni]="listaPulsanti"
                      [listaHeaderBottoni]="listaHeaderPulsanti"
                      campoIdElemento="codiceMezzo"
                      (buttonClickedData)="onRichiestaRest($event)">
    </app-custom-table>
  </span>
  <span *ngIf="currentUser.superuser===false">
    <app-custom-table *ngIf="listaVeicoli"
                      [listaElementi]="listaVeicoli"
                      [listaHeader]="listaHeaderVeicoli"
                      campoIdElemento="codiceMezzo"
                      (buttonClickedData)="onRichiestaRest($event)">
    </app-custom-table>
  </span>
</span>

<div class="container" *ngIf="!currentUser.verificato">
  <br>
  <p class="text-danger">Verifica l'account prima di utilizzare il servizio, controlla la tua email.</p>
</div>
