<button type="{{buttonProperties?.type}}" [disabled]="buttonProperties.disabled"
        class="btn bottone text-center {{buttonProperties?.buttonTypeBootstrap}}"
        [ngStyle]="{'background-image':'url(' + buttonProperties?.urlImmagine +')',
                    'width.px':buttonProperties?.width,
                    'height.px':buttonProperties?.height,
                    'background-color':buttonProperties?.colour,
                    'color': buttonProperties?.textColour}"
                    (click)="onClickRequest(buttonProperties?.url, buttonProperties?.restApi, buttonProperties?.redirect, elementoCliccato, id, nomeCampoId)">
  {{buttonProperties?.testo}}
<!--  inserire ngif-->
  <div *ngIf="buttonProperties.nameMaterialIcon!=null">
    <i class="material-icons md-24 icon-align">{{buttonProperties?.nameMaterialIcon}}</i>
  </div>
</button>
